<table class="table table-hover table-sm" >

    <thead class="thead-light">

     <tr>

      <th>Company Name</th>
      <th>Turn Over</th>
      <th>CEO</th>
      <th>BOD</th>
      <th>Sector</th>
      <th>Brief</th>
      <th>Stock Code</th>

     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companyList ">

        <td>{{company.companyName}}</td>
        <td>{{company.turnOver}}</td>
        <td>{{company.ceo}}</td>
        <td>{{company.bod}}</td>
      <td>{{company.sector}}</td>
      <td>{{company.brief}}</td>
      <td>{{company.stockCode}}</td>
      </tr>
  
  
  
     </tbody>
  
  
  
     </table>
  
   }