body {

  color: #fff;
 
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQgYqHjaMVQoenhxr-xuEMJULLSPXezTVXLwjG3sN2BnfZPcstj");
 
 background-repeat: no-repeat;
 
  background-size: cover;
  height: 550px;
  width:1370px;
 
  }
